{% extends "base.html" %}

{% block imports %}
<style>
img {
    max-width: 100%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>User study tool</h1>
    <span class="help">Rate each image.</span>
</div>

<hr>
<div class="container-fluid">
    <div>
        <span class="key"># images:</span>
        <span class="value">{{ num_imgs }}</span>
    </div>
    <div>
        <span class="key">Randomized options:</span>
        <span class="value">{% for n in names %}{% if loop.index0 > 0 %}, {% endif %}{{ n }}{% endfor %}</span>
    </div>
    <div>
        <span class="key">Actions:</span>
        <button type="button" class="btn btn-danger btn-sm" id="setBtn">Set labels</button>
        <textarea class="form-control" id="labelsText" rows="1" placeholder="nothing yet..."></textarea>
    </div>
</div>

<hr>
<div class="container-fluid">
    {% for img in images %}
    <div class="img-block">
        <div class="img-block-row">
            <div class="img-block-img">
                <span class="key">Reference:</span>
                <img src="/image/reference/{{ img.0 }}">
            </div>
            <div class="img-block-img">
                <span class="key">Evaluate:</span>
                <img src="/image/{{ img.1 }}/{{ img.0 }}">
            </div>

            <div class="img-block-controls">
                <div class="form-check">
                    <input class="form-check-input to-label" type="checkbox"
                        value="" id="Q1"
                        imgId="{{ img.0 }}" optionId="{{ img.1 }}">
                    <label class="form-check-label" for="Q1">
                        Is there an unnatural <b>cut through the subject</b>?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input to-label" type="checkbox"
                        value="" id="Q2"
                        imgId="{{ img.0 }}" optionId="{{ img.1 }}">
                    <label class="form-check-label" for="Q2">
                        Is there an unnatural <b>cut through the scene</b> (e.g., objects that a person is interacting with)?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input to-label" type="checkbox"
                        value="" id="Q3"
                        imgId="{{ img.0 }}" optionId="{{ img.1 }}">
                    <label class="form-check-label" for="Q3">
                        Is there too much/too little <b>negative space</b>?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input to-label" type="checkbox"
                        value="" id="Q4"
                        imgId="{{ img.0 }}" optionId="{{ img.1 }}">
                    <label class="form-check-label" for="Q4">
                        Is there unnecessary <b>clutter</b> around the edges that could be mitigated by cropping?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input to-label" type="checkbox"
                        value="" id="Q5"
                        imgId="{{ img.0 }}" optionId="{{ img.1 }}">
                    <label class="form-check-label" for="Q5">
                        Is the image <b>unbalanced</b> (not following the rule-of-thirds, symmetries, etc., egregiously off)?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input to-label" type="checkbox"
                        value="" id="Q6"
                        questionId="6" imgId="{{ img.0 }}" optionId="{{ img.1 }}">
                    <label class="form-check-label" for="Q6">
                        Is the <b>aspect ratio extreme</b> (very wide or tall)?
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class='footer-space'></div>
{% endblock %}

{% block code %}
<script>
$('.to-label').change(function() {
    collectLabels();
});

function collectLabels() {
    console.log('Collecting labels!')
    let selected = [];
    $('.to-label').each(function() {
        if ($(this).is(':checked')) {
            selected.push({
                name: $(this).attr('optionId'),
                img: $(this).attr('imgId'),
                tag: $(this).attr('id')
            })
        }
    });
    $('#labelsText').val(JSON.stringify(selected));
}

function setLabels() {
    let s = $('#labelsText').val().trim();
    if (s.length == 0) return;
    console.log(s);
    let labels = JSON.parse(s);
    for (let i = 0; i < labels.length; i++) {
        let label = labels[i];
        let checkbox = $('.to-label[optionId="' + label.name + '"][imgId="' + label.img + '"][id="' + label.tag + '"]');
        checkbox.prop('checked', true);
    }
}
$("#setBtn").click(setLabels);
</script>
{% endblock %}